/* Monsterrat font from Googleapis.com*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Variables*/
:root {
    --main-color: #e3a274;
    --seconed-color: #dbc1ac;
    --back-color: #000000;
    --white-color: #ffffff;
    --text-color: #0d0d0d;
    /*I will change color later*/
    --highlight-color: #873611;
    --heading-font-size:2rem;
    --normal-font-size: 1.2rem;
  
    /* Font -- Monsterrat from googleapis.com */
    --font-family: 'Times New Roman', Times, serif;
}

/*Base */
*{
    font-family: var(--font-family);
    margin:0;
    padding:0;
    box-sizing:border-box;
}

a{
    all:unset;
    cursor:pointer;
}

img{
    width:100%;
}

section {
    padding: 3rem 8rem 2rem;
}

/*temp*/
body{
    background-color:gray;
}

/*Header*/
header{
    display:flex;
    height:100%;
    width:100%;
    background-color:var(--white-color);
}

header *{
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo {
    display:inline-block;
}

.logo_icon{
    display:flex;
    height:150px;
    width:150px;
    float:left;
}

.logo_text{
    display:flex;
    align-items:center;
    font-size:var(--heading-font-size);
    float:right;
    vertical-align: middle;
}


/* Navbar links */
nav{
    display:flex;
    width:100%;
    margin-left:45%;
}

.navbar_links{
    display:flex;
    font-size:var(--normal-font-size);
    margin-left:25px;
}

.navbar_links:hover{
    color:var(--highlight-color);
    border-bottom: 1px solid var(--highlight-color);
}
/* End of navbar*/